@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

#root {
  --purple: #8D40D7;
  --green: #36D681;
  --white: #fff;
  --gray-text: #f2f2f2;
  --text-white: #FBFCF9;
  --border-color: rgba(83,90,96,0.15);
  --overlay: rgba(0,0,0,0.3);
  --text-gray: #535A60;
  --text-red: #E53939;
  --text-yellow: #FBBC05;
  --custom-gradient: linear-gradient(to right, #8D40D7, #36D681);
}

* {
  font-family: "Lato", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

.ml {
  margin-left: 4px;
}

@media (max-width: 680px) {
  .desktop_only {
    display: none;
  }
}

@media (max-width: 1160px) {
  .container {
    width: 90%;
  }
}